#everything{
    position: relative;
}

#homepageBack{
    position: relative;
    width: 100%;
    height: 29.4em;
    opacity: 0.4;
}

#overallBody{
    position: absolute;
    top: 5em;
    width: 100%;
    height: 29.4em;
}

#generalBody{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 29.4em;

}

.bookNowButton{
    background-color: #4C8055;
    border-color: #000000;
    border-width: 1.5px;
    margin-top: 1em;
    padding-left: 2.5em;
    padding-right: 2.5em;
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: 18px;
}